@import "tailwindcss";

@layer components {
  .field {
    @apply block rounded-lg p-2.5 bg-white border ring-1 outline-none ring-transparent duration-200 text-black hover:border-black/30 focus:border-pink-600 focus:ring-pink-600;
  }

  .label {
    @apply cursor-pointer block text-sm text-black;
  }

  .field-set {
    @apply flex flex-col gap-2 flex-1;
  }
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease-in;
}

.remove-blur {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
}
